
@{
    ViewBag.Title = "Susscess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<div class="row header-cart">
    <div class="alert alert-success">
        Bạn vừa gửi đơn hàng thành công!
    </div>
</div>
</div>