@model List<WebbanGiay.Models.CartItem>
<div class="bot-item"><a href="/Cart/Index" class="item-link"><i class="fas fa-shopping-cart"></i><b>Giỏ Hàng</b></a><span class="count">&nbsp;<b>(@Model.Count)</b></span></div>
