@model List<Model.EF.ProductCategory>

<div class="container sticky-top">
    <div class="row bot-header-row bg-dark ">
        <div class="col-sm-12 col-md-7 col-lg-7 ">
            <div class="menu menu-text">
                <!-- Tạo thanh navbar dùng bootstrap-->
                <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
                    <a class="navbar-brand" href="/Home/Index">&nbsp;<i class="fas fa-home"></i>&nbsp;</a>
                    <!-- Tạo nút button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Tạo collapse - Sập lại khi giao diện co lại -->
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <!-- Tạo thanh navbar ngang-->
                        <ul class="navbar-nav">
                            <li class="nav-item parent-li-menu">
                                <a class="nav-link">Giới Thiệu &nbsp;</a>
                            </li>
                            <li class="nav-item parent-li-menu">
                                <a class="nav-link nav">Bảo Hành &nbsp;</a>
                            </li>
                            <li class="nav-item parent-li-menu">
                                <a class="nav-link">Tin Tức &nbsp;</a>
                            </li>

                            <li class="nav-item parent-li-menu">
                                <a href="#" class="nav-link">Sản Phẩm &nbsp;</a>
                                <ul class="navbar-nav flex-column rank1-ul-menu">
                                    @foreach (var item in Model)
                                    {
                                        <li class="nav-item rank1-li-menu">
                                            <a href="/san-pham/@item.MetaTitle-@item.MaLoaiSP" class="nav-link">@item.TenLoaiSP</a>
                                        </li>
                                    }
                                </ul>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="col-sm-12 col-md col-lg">
            <div class="search search-margin-top">
                <form  action="/tim-kiem" method="get">
                    <input type="text" id="txtKeyword" placeholder="Search..." name="keyword">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<link href="/Assets/Client/css/jquery-ui.css" rel="stylesheet" />
<script src="/Assets/Client/javascript/jquery-ui1.js"></script>
<script src="/Assets/Client/javascript/Controller/baseController.js"></script>